<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie store</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>

        <nav class="nav-bar">
            <div class="logo">
                movie store
            </div>
            <ul class="nav-link">
                @if (!string.IsNullOrEmpty(User.GetEmail()))
                {
                    <li><a class="active" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="active" asp-controller="Orders" asp-action="UserOrders">My Orders</a></li>
                    <li><a href="/Home/About">About</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="#">Admin <i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-nav-link">
                                    <li><a href="/Genres/Index">Genres</a></li>
                                    <li><a asp-controller="Members" asp-action="Index">Members</a></li>
                                    <li><a href="/Movies/Index">Manage movies</a></li>
                                    <li><a asp-controller="Orders" asp-action="Index">Maanage Orders</a></li>
                                </ul>
                            </li>
                        }
                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a href="/Account/Register">Register</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </nav>
    </header>

    <div class="container">
       <main role="main" style="padding-bottom: 1rem !important;">
            @RenderBody()
        </main>
    </div>

    <footer>
        &hearts; linkedin.com/in/munabil
    </footer>
</body>


</html>